{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}
    {% include author-profile.html %}
    {% assign gpg = author.gpg %}
    {% if gpg %}
      {% if gpg.image %}
        <img class="gpg-image" src=
        {% if gpg.image contains "://" %}
          "{{ gpg.image }}"
        {% else %}
          "{{ gpg.image | absolute_url }}"
        {% endif %}
        alt="{% if gpg.image_alt %}{{ gpg.image_alt }}{% endif %}">
      {% endif %}
      {% if gpg.title %}<h3>{{ gpg.title }}</h3>{% endif %}
      {% if gpg.text %}{{ gpg.text | markdownify }}{% endif %}
    {% endif %}
  {% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | absolute_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
